.paid-free-info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
  }

  .card {
    border: 1px solid rgb(216, 210, 210);
    position: relative;
  }
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
  }
  
  .download {
    color: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4px;
  }
  .custom-title-class {
    margin-right: 120px;
  }
  
  