.chatSection {
    display: flex;
    border: 1px solid #ccc;
    height: 80vh;
    overflow: hidden;
  }
  
  .borderRight500 {
    border-right: 1px solid #ccc;
  }
  
  .messageArea {
    height: 65vh;
    overflow-y: auto;
  }
  
  